1 VERSIONINFO
FILEVERSION 1,2,0,1
PRODUCTVERSION 1,2,0,1
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0x0409"
        BEGIN
            VALUE "CompanyName", "Gelsik"
            VALUE "FileDescription", "Convert your BAR score to a higher one! (or a lower one 🤨)"
            VALUE "FileVersion", "12.1"
            VALUE "InternalName", "barse"
            VALUE "LegalCopyright", "© 2025 Gelsik. All Rights Reserved."
            VALUE "OriginalFilename", "BARse.exe"
            VALUE "ProductName", "BARse"
            VALUE "ProductVersion", "12.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END